.section {

    // .section__faq
    &__faq {
        padding-bottom: 99px;
        padding-top: 70px;

        @media (max-width: $breakpoint768) {
            padding-bottom: 50px;
            padding-top: 50px;
        }
    }

    // .section__title
    &__title {}
}

.icon {}

.faq {
    padding: 0 40px;
    @media (max-width: $breakpoint992){
        padding: 0;
    }
    .accordion {
        margin-top: 48px;

        @media (max-width: $breakpoint768) {
            margin-top: 24px;
        }

        .accordion__item {
            padding: 24px;
            border: 1px solid #E5E5E5;
            border-radius: 12px;
            box-sizing: border-box;
            margin-top: 16px;

            @media (max-width: $breakpoint768) {
                margin-top: 10px;
                padding: 16px;
            }

            &.accordion__item-active {
                .accordion__item-content {
                    display: block;
                }

                .line2 {
                    transform: translate(0) !important;
                    transition: .1s all ease;
                }

                .line1 {
                    opacity: 0;
                    transition: .1s all ease;

                }
            }


            .accordion__item-trigger {
                display: flex;
                align-items: center;
                cursor: pointer;


                .trigger__text {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    display: flex;
                    align-items: flex-end;
                    color: $primary;

                    @media (max-width: $breakpoint768) {
                        font-size: 18px;
                        padding-right: 50px;
                    }
                }

                .trigger__img {
                    position: relative;
                    margin-left: auto;

                    .line1 {
                        display: block;
                        width: 16px;
                        height: 2px;
                        background: black;
                        border-radius: 100px;
                    }

                    .line2 {
                        display: block;
                        width: 16px;
                        height: 2px;
                        background: black;
                        margin-top: -2px;
                        border-radius: 100px;
                        transform: rotate(90deg);
                    }
                }
            }

            .accordion__item-content {
                display: none;
                animation: fade .3s ease;

                .content__text {
                    padding-top: 15px;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }


        }

    }
}