.section {

    // .section__features
    &__features {
        padding: 72px 0;
        margin-top: 24px;

        .accordion {
            .accordion__item {
                background: #FFFFFF;
                box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
                border-radius: 6px;
                margin-top: 14px;

                &.accordion__item-active {
                    .accordion__item-content {
                        display: block;
                    }

                    .trigger__text {
                        opacity: 1;
                        transition: .3s ease;
                    }

                    .svg {
                        fill-opacity: 1 !important;
                        transition: .3s ease;
                    }

                }


                .accordion__item-trigger {
                    display: flex;
                    padding: 24px 28px;
                    align-items: center;
                    cursor: pointer;

                    @media (max-width: $breakpoint768) {
                        padding: 12px;
                    }
                }

                .trigger__img {}

                .trigger__text {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 140%;
                    letter-spacing: -0.01em;
                    color: $primary;
                    margin-left: 10px;
                    opacity: .75;

                    @media (max-width: $breakpoint768) {
                        line-height: 110%;
                        font-size: 18px;
                    }
                    @media (max-width: $breakpoint480) {
                        font-size: 16px;
                    }
                }


            }

            .accordion__item-content {
                display: none;
                animation: fade .3s ease;
                padding: 0 28px 36px 28px;

                @media (max-width: $breakpoint768) {
                    padding: 0 16px 16px 16px;
                }

                .content__text {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 190%;
                    letter-spacing: 0.02em;
                    color: rgba(0, 23, 49, 0.55);
                    @media (max-width: $breakpoint768) {
                        line-height: 130%;
                    }


                }
            }


        }

    }
}


.features {
    display: flex;
    gap: 122px;
    justify-content: space-between;

    @media (max-width: 1300px) {
        gap: 60px
    }

    @media (max-width: $breakpoint1200) {
        gap: 35px
    }

    @media (max-width: $breakpoint992) {
        flex-wrap: wrap;
    }

    // .features__item
    &__item {
        &:first-child {
            flex: 0 1 475px;

            @media (max-width: $breakpoint992) {
                flex: 0 1 100%;
            }
        }

        &:last-child {
            @media (max-width: 1300px) {
                img {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.quote {
    display: flex;
    background: #f7f7f7;
    border-radius: 12px;
    margin-top: 35px;

    @media (max-width: $breakpoint480) {
        flex-wrap: wrap;
    }

    &__item {
        @media (max-width: $breakpoint992) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }

    // .quote__item-img
    &__item-img {
        padding: 0 15px 15px 15px;

        @media (max-width: $breakpoint480) {
            padding: 10px 10px 0 10px;
            margin: 0 auto;

        }
    }

    // .quote__item-info
    &__item-info {
        padding: 15px;

    }

    // .quote__text
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 145%;
        color: $primary;
        opacity: 0.75;
    }

    // .quote__author
    &__author {
        margin-top: 8px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: $primary;
    }

    // .quote__btn
    &__btn {
        display: inline-block;
        margin-top: 35px;

        @media (max-width: $breakpoint992) {
            display: flex;
            max-width: fit-content;
            margin: 0 auto;
            margin-top: 25px;
        }

        @media (max-width: $breakpoint480) {
            max-width: 100%;
            justify-content: center;
        }

        span {
            font-weight: 400;
        }
    }
}