footer {
    background: $primary;
    padding-top: 56px;

    @media (max-width: $breakpoint768) {
        padding-top: 34px;
    }
}

.footer {
    display: flex;
    padding-bottom: 40px;
    padding: 0 40px 40px 40px;

    @media (max-width: $breakpoint992) {
        flex-wrap: wrap-reverse;
        padding: 0;
        padding-bottom: 20px;
    }

    // .footer__item
    &__item {
        display: flex;
        gap: 80px;

        @media (max-width: $breakpoint992) {
            gap: 50px;
        }

        &:first-child {
            margin-left: 136px;

            @media (max-width: $breakpoint1200) {
                margin-left: 0;
            }

            @media (max-width: $breakpoint992) {
                flex: 0 1 100%;
                margin-top: 35px;
            }

            @media (max-width: $breakpoint480) {
                flex-wrap: wrap;
                margin-top: 24px;
                gap: 35px;
            }
        }

        &:last-child {
            margin-left: auto;
            max-width: 377px;

            @media (max-width: $breakpoint992) {
                flex: 0 1 100%;
                margin-left: 0;
            }
        }
    }

    // .footer__list
    &__list {}

    // .footer__title
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }

    // .footer__list-item
    &__list-item {
        margin-top: 24px;
    }

    // .footer__link
    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        opacity: 0.8;

        &:hover {
            transition: .3s ease;
            opacity: 1;
        }
    }

    // .footer__text
    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        opacity: 0.8;
        margin-top: 24px;

        @media (max-width: $breakpoint480) {
            margin-top: 14px;
        }
    }

    // .footer__form
    &__form {}

    // .footer__form-label
    &__form-label {
        display: flex;
        margin-top: 8px;
        gap: 8px;

        @media (max-width: $breakpoint480) {
            flex-wrap: wrap;
        }
    }

    // .footer__form-input
    &__form-input {
        flex: 0 1 270px;
        border-radius: 8px;
        background: #FFFFFF;
        padding: 10px 12px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        color: $primary;
        outline: none;

        @media (max-width: $breakpoint480) {
            flex: 0 1 100%
        }

        &:focus {
            outline: 2px solid $secondary;
        }

        &::placeholder {
            color: #CCCCCC;
        }
    }

    // .footer__form-btn
    &__form-btn {
        width: 99px;
        padding: 10px 0;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        background: $secondary;
        border-radius: 8px;

        @media (max-width: $breakpoint480) {
            flex: 0 1 100%
        }

        &:hover {
            background: $secondaryHover;
            transition: .3s ease;
        }
    }
}

.footer {

    &__copy {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
        @media (max-width: $breakpoint992){
            margin-top: 24px;
        }
        @media (max-width: $breakpoint480){
            flex-wrap: wrap-reverse;
        }
    }

    // .footer__copy-item
    &__copy-item {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        opacity: 0.7;
    }
}

.copy {

    // .copy__list
    &__list {
        display: flex;
        align-items: center;
        gap: 24px;
        @media (max-width: $breakpoint480){
            margin-bottom: 24px;
        }
      

    }

    // .copy__list-item
    &__list-item {
        a {
            &:hover {
                path {
                    fill: white;
                    transition: .3s ease;
                }
            }
        }
    }
}