.section {

    // .section__hero
    &__hero {}
}

.header__wrapper {
    height: 100vh;
    width: 100%;
    background: $primary;
    position: relative;
    overflow: hidden;

    .hero__img {
        position: absolute;
        right: 0;
        bottom: -60px;
        max-width: 650px;

        @media (max-width: $breakpoint1200) {
            max-width: 500px;
            bottom: 0;
        }

        @media (max-width: $breakpoint992) {
            max-width: 420px;
        }
        @media (max-width: $breakpoint480) {
            max-width: 250px;
            width: 100%;
            height: auto;
        }
    }

    .hero__gradient {
        position: absolute;
        background: radial-gradient(50% 50% at 50% 50%, rgba(57, 139, 255, 0.324) 0%, rgba(57, 139, 255, 0.24) 20.83%, rgba(57, 139, 255, 0) 100%);
        opacity: 0.75;
        right: 116px;
        bottom: -260px;
        width: 869px;
        height: 869px;
        @media (max-width: $breakpoint768) {
            right: -220px;
        }
    }
}

.hero {

    // .hero__title
    &__title {
        padding-top: 106px;
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 95%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        max-width: 715px;

        @media (max-width: $breakpoint992) {
            max-width: 100%;
            font-size: 52px;
            padding-top: 75px;
        }

        @media (max-width: $breakpoint768) {
            font-size: 38px;
            line-height: 110%;
            padding-top: 35px;
            text-align: center;
        }
        @media (max-width: $breakpoint480) {
            font-size: 32px;
        }
    }

    // .hero__btns
    &__btns {
        margin-top: 34px;
        display: flex;
        align-items: center;

        @media (max-width: $breakpoint768) {
            justify-content: center;
            margin-top: 24px;
        }
        @media (max-width: $breakpoint480) {
            flex-direction: column;
            margin-top: 14px;
        }
        .hero__btn{
            @media (max-width: $breakpoint480) {
                width: 100%;
                margin-top: 10px;
                text-align: center;
            }   
        }
    }

    // .hero__span
    &__span {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 145%;
        color: rgba(255, 255, 255, 0.35);
        margin: 0 14px;
        @media (max-width: $breakpoint480) {
            display: none;
        }
    }

    // .hero__text
    &__text {
        margin-top: 36px;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 145%;
        color: #AAC0E0;
        max-width: 533px;

        @media (max-width: $breakpoint992) {
            max-width: 100%;
            font-size: 20px;
        }

        @media (max-width: $breakpoint768) {
            text-align: center;
            margin-top: 26px;
        }
        @media (max-width: $breakpoint480) {
            margin-top: 16px;
            font-size: 18px;
        }
    }
}