.section {

    // .section__learn
    &__learn {
        background: #031E3E;
    }
}

.learn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 74px;
    gap: 112px;
    @media (max-width: $breakpoint1200) {
        gap: 50px;
    }
    @media (max-width: $breakpoint768) {
        flex-wrap: wrap-reverse;
    }
    // .learn__item
    &__item {
        @media (max-width: $breakpoint992) {
            flex: 0 1 48%;
            .learn__img{
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }
        @media (max-width: $breakpoint768) {
            flex: 0 1 100%;
        }
    }

    // .learn__item-icon
    &__item-icon {}

    // .learn__item-title
    &__item-title {
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 110%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        margin-top: 24px;
        @media (max-width: $breakpoint768) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    // .learn__item-text
    &__item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 145%;
        color: #AAC0E0;
        margin-top: 24px;
    }

    // .learn__btn
    &__btn {
        display: inline-flex;
        margin-top: 32px;
    }
}
