// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1280;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$primary: #001731;
$secondary: #398BFF;
$secondaryHover: #2575e4;
$secondaryLight: #9aa3b8;
$neutral: #2962ef;
$neutralDark: #1348ce;

// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Fonts
$fontMain: 'Gilroy', sans-serif;