.checkboxes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.checkbox {

    // .checkbox__item
    &__item {
        display: flex;
        max-width: 360px;
        padding: 10px;
        background: $lightblue;
        align-items: center;
        position: relative;
        width: 100%;

        .img {
            width: 60px;
            height: 60px;
            padding: 10px;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }

        .text {
            font-style: normal;
            font-weight: 494;
            font-size: 20px;
            line-height: 22px;
            color: $blue;
            margin-left: 30px;
        }

        .fake {
            width: 30px;
            height: 30px;
            background: #FFFFFF;
            border: 1px solid #E5E4E1;
            border-radius: 5px;
            margin-left: auto;
            position: relative;
            &:after{
                position: absolute;
                content: '';
                width: 30px;
                height: 30px;
                right: 0;
                top: 0;
                left: 0;
                background: $red url('../img/check.svg') no-repeat;
                background-position: center;
                border-radius: 5px;
                opacity: 0;
            }
        }

        .border {
            position: absolute;
            inset: 0;
            border: 1px solid $red;
            opacity: 0;
        }
    }

    // .checkbox__input
    &__input {
        display: none;
            &:checked ~ .fake::after{
                opacity: 1;
            }
            &:checked ~ .border{
                opacity: 1;
            }

    }
}