@font-face {
    font-family: 'Author';
    src: url('../fonts/Author-Regular.ttf') format('truetype');
    font-weight: 375;
}

@font-face {
    font-family: 'Author';
    src: url('../fonts/Author-Medium.ttf') format('truetype');
    font-weight: 494;
}
