footer {
    background: $primary;

}

.footer {
    display: flex;
    padding: 45px 0 35px 0;
    gap: 85px;
    border-bottom: 1px solid rgba(211, 218, 215, 0.5);
    @media (max-width: $breakpoint768) {
        gap: 35px;
        padding: 30px 0;
    }
    @media (max-width: $breakpoint480){
        flex-wrap: wrap;
    }
    // .footer__item
    &__item {}

    // .footer__title
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $white;

    }

    // .footer__list
    &__list {
        margin-top: 20px;
    }

    // .footer__list-item
    &__list-item {
        margin-top: 9px;

        &.language_item {
            margin-top: 42px;
        }
    }

    // .footer__link
    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #B0BDB7;
        transition: .3s color;

        &:hover {
            color: $white;
        }
    }
}

.copy {
    display: flex;
    padding: 30px 0 47px 0;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint768) {
        flex-direction: column;
        padding: 30px 0;

    }

    // .copy__text
    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #D3DAD7;
    }
}

.social {
    display: flex;
    gap: 34px;

    @media (max-width: $breakpoint768) {
        margin-top: 25px;
    }

    // .social__item
    &__item {
        a {
            :hover {
                path {
                    fill: $white;
                    transition: .3s fill;
                }
            }
        }
    }
}