// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    font-family: $fontMain;

    &.locked {
        overflow: hidden;
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    transition: .3s ease;

    @media (max-width: $breakpoint1450) {
        font-size: 14px;
        padding: 10px 15px;
    }

    // .btn__outline
    &__outline {
        color: $primary;

        &:hover {
            color: $secondary;
        }

    }

    // .btn__primary
    &__primary {
        color: $white;
        background: $primary;

        &:hover {
            background-color: $primaryDark;
        }
    }

    // .btn__secondary
    &__secondary {
        color: $white;
        background: $secondary;
        &:hover {
            background-color: darken($secondary, 10%);
        }
    }
}




.section {

    // .section__title
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        text-transform: capitalize;
        color: $primary;
        @media (max-width: $breakpoint1450){
            font-size: 42px;
        }
        @media (max-width: $breakpoint992){
            font-size: 34px;
        }
        @media (max-width: $breakpoint768){
            font-size: 28px;
        }
        @media (max-width: $breakpoint480){
            font-size: 24px;
            line-height: 1.2;
        }
        &.title__center {
            text-align: center;
        }

        &.title__secondary {
            color: $white;
        }
    }

    // .section__subtitle
    &__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: $black;
        margin-top: 15px;
        @media (max-width: $breakpoint768){
            margin-top: 0;
        }
        @media (max-width: $breakpoint480){
            margin-top: 15px;
        }
        &.subtitle__center {
            text-align: center;
        }

        &.subtitle__secondary {
            color: $white;
        }
    }

}