.header__wrapper {
    position: relative;
    padding-bottom: 250px;
    overflow: hidden;
    .hero__img {
        position: absolute;
        right: 0;
        top: -105px;
        z-index: -1;
        object-fit: cover;
        @media (max-width: $breakpoint1450){
            max-width: 50%;
            width: 100%;
            height: auto;
        }
        @media (max-width: $breakpoint768){
            max-width: 100%;
            top: 0;
        }
    }
}

.section {

    // .section__hero
    &__hero {}
}

.hero {

    // .hero__item
    &__item {
        padding-top: 150px;
        max-width: 450px;
        @media (max-width: $breakpoint992){
            padding-top: 50px;
            background: $white;
        }
        @media (max-width: $breakpoint768){
            padding: 25px;
            max-width: 100%;
            margin-top: 50px;
        }
        @media (max-width: $breakpoint480){
            margin-top: 15px;
        }
    }

    // .hero__subtitle
    &__subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 36px;
        color: $neutral;
        opacity: 0.85;
        @media (max-width: $breakpoint1450){
            font-size: 18px;
            line-height: 32px;
        }
        @media (max-width: $breakpoint992){
            font-size: 16px;
            line-height: 1.3;
        }
    }

    // .hero__title
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 130%;
        color: $primary;
        @media (max-width: $breakpoint1450){
            font-size: 42px;
        }
        @media (max-width: $breakpoint992){
            font-size: 34px;
        }
        @media (max-width: $breakpoint768){
            font-size: 28px;
        }
        @media (max-width: $breakpoint480){
            font-size: 24px;
            line-height: 1.2;
        }
        span {
            color: $secondary;
            font-weight: 700;
        }

    }

    // .hero__btns
    &__btns {
        display: flex;
        gap: 20px;
        margin-top: 25px;
        @media (max-width: $breakpoint480){
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
    }

    // .hero__btn
    &__btn {
        display: flex;
        flex: 1 1 auto;
    }
}