// box-shadow: 0px 0 px 11px rgba(22,23,72,0.08), 0px 25px 35px rgba(22,23,72,0.05)
// border-radius:8px
.section {

    // .section__photos
    &__photos {
        background: linear-gradient(270.76deg, #E3E7F6 -55.5%, rgba(227, 231, 246, 0) 145.36%);
        padding: 58px 0;
    }

}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // .photos__item
    &__item {
        flex: 0 1 540px;

        @media (max-width: $breakpoint1400) {
            flex: 0 1 48%;

            img {
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }

        @media (max-width: $breakpoint768) {
            flex: 1 1 100%;
            margin-top: 25px;
            display: flex;
            &:nth-child(even){
                margin-left: 25px;
                img{
                    margin-left: auto;
                }
            }
            img{
                max-width: 75%;

            }
        }

        &:last-child {
            display: flex;

            img {
                display: flex;
                margin-top: auto;
            }


        }

        &:nth-child(2) {
            margin-bottom: 50px;
            @media (max-width: $breakpoint768) {
                margin-bottom: 0;
            }
        }

        &-text {
            max-width: 322px;

            .section__title {
                max-width: 150px;
                @media (max-width: $breakpoint768) {
                    max-width: 100%;
                    text-align: center;
                }
            }
            @media (max-width: $breakpoint768) {
                max-width: 100%;
                text-align: center;
            }
        }

        &:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

