.section {

    // .section__contacts
    &__contacts {
        padding-top: 114px;
        padding-bottom: 138px;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    gap: 122px;
    @media (max-width: $breakpoint992) {
        gap: 50px
    }
    @media (max-width: $breakpoint768) {
        flex-wrap: wrap;
        gap:0;

    }
    // .contacts__item
    &__item {
        display: flex;
        flex-direction: column;
        flex: 0 1 50%;
        @media (max-width: $breakpoint768) {
            flex: 0 1 100%;
        }
    }

    // .contacts__form
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
        border-radius: 8px;
        padding: 40px;
        @media (max-width: $breakpoint768) {
            padding: 20px;
        }
    }

    // .contacts__form-label
    &__form-label {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        flex-direction: column;
        letter-spacing: 0.005em;
        color: #8F90A6;
        margin-bottom: 30px;
        @media (max-width: $breakpoint768) {
            margin-bottom: 15px;
        }
    }

    // .contacts__form-input
    &__form-input {
        background: #FFFFFF;
        border: 1px solid #E3E7F6;
        border-radius: 6px;
        padding: 10px 15px;
        margin-top: 6px;
      

        &:focus {
            outline: 1px solid $grayColor;
        }
    }

    // .contacts__form-textarea
    &__form-textarea {
        background: #FFFFFF;
        border: 1px solid #E3E7F6;
        border-radius: 6px;
        padding: 10px 15px;
        margin-top: 6px;
        resize: none;
        min-height: 148px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.005em;
        display: flex;
        color: $grayColor;
        @media (max-width: $breakpoint768) {
            min-height: 75px;
        }
        &:focus {
            outline: 1px solid $grayColor;
        }
    }

    // .contacts__places
    &__places {
        display: flex;
        flex-direction: column;
        max-width: 255px;
        margin-top: auto;
        @media (max-width: $breakpoint992) {
            max-width: 100%;
            margin-top: 0;
        }
    }

    // .contacts__place
    &__place {
        margin-top: 72px;
        @media (max-width: $breakpoint768) {
            margin-top: 30px;
        }
    }

    // .contacts__place-title
    &__place-title {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.005em;
        color: #000000;

        img {
            margin-right: 20px;
        }
    }

    // .contacts__place-location
    &__place-location {
        margin-top: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        display: flex;
        align-items: center;
        letter-spacing: 0.005em;

        color: #000000;
    }
}

