footer {
    background: #121212 url('../img/footer__bg.png') left 50px no-repeat;
    padding: 70px 0;
    @media (max-width: $breakpoint768){
        background-size: cover;
        background-position: center;
    }
    .footer {
        display: flex;

        &__item {
            margin-left: auto;
            max-width: 650px;
            width: 100%;
            @media (max-width: $breakpoint768){
                max-width: 100%;
                margin: 0;
                background-color: rgba(18,18,18,.5);
            }

            .form {
                display: flex;
                flex-direction: column;

                .form__title {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 55px;
                    color: #FFFFFF;
                    max-width: 550px;
                    @media (max-width: $breakpoint768){
                        max-width: 100%;
                        text-align: center;
                        font-size: 28px;
                        line-height: 30px;
                    }

                }

                .form__subtitle {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 170%;
                    color: #FFFFFF;
                    margin-top: 35px;
                    margin-bottom: 30px;
                    @media (max-width: $breakpoint768){
                        margin: 15px 0;
                    }
                }

                .form__input {
                    margin-top: 20px;
                    background: none;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #ffffff;
                    padding: 5px 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 170%;
                    color: #FFFFFF;

                    &::placeholder {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 170%;
                        color: #FFFFFF;
                    }
                }
                .form__textarea {
                    resize: none;
                    min-height: 100px;
                    margin-top: 35px;
                    background: none;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #ffffff;
                    padding: 5px 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 170%;
                    color: #FFFFFF;

                    &::placeholder {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 170%;
                        color: #FFFFFF;
                    }
                }

                .form__btn {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #FFFFFF;
                    border: none;
                    background: none;
                    outline: none;
                    margin-top: 30px;
                    margin-left: auto;
                    margin-right: 80px;
                    z-index: 1;
                    cursor: none;
                }


            }
        }
    }
}