// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: 1300px) {
        padding: 0 75px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
        padding: 0 50px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
        padding: 0 10px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    font-family: 'Montserrat', sans-serif;
    background: #1F1F1F;

    &.locked {
        overflow: hidden;
    }

    .overlay {
        max-width: ($containerWidth + $containerPadding) + px;
        ;
        width: 100%;
        margin: 0 auto;
        border-left: 1px solid rgba(255, 255, 255, 0.11);
        border-right: 1px solid rgba(255, 255, 255, 0.11);
        position: relative;
        overflow: hidden;

        &:after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            width: 1px;
            background: rgba(255, 255, 255, 0.11);
            right: 33%;
            z-index: -1;
        }

        &:before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            width: 1px;
            background: rgba(255, 255, 255, 0.11);
            left: 33%;
            z-index: -1;
        }

        @media (max-width: 1300px) {
            border-left: 2px solid rgba(255, 255, 255, 0.11);
            border-right: 2px solid rgba(255, 255, 255, 0.11);
        }
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn {
    background: $neutral;
    border-radius: 4px;
    color: #fff;
    padding: 11px 24px;
    display: inline-flex;
    gap: 7px;
    transition: .3s all ease;

    &:hover {
        background: $neutralDark;

        svg {
            transform: translate(10px);
            transition: .3s all ease;
        }
    }
}

.btn__outline {
    border-radius: 4px;
    color: $neutral;
    padding: 11px 24px;
    display: inline-flex;
    transition: .3s all ease;

    &:hover {
        color: $neutralDark;
        transition: .3s all ease;
    }
}

section {
    padding: 75px 0;

    @media (max-width: $breakpoint768) {
        padding: 25px 0;
    }
}

.section__title {
    margin-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;

    @media (max-width: $breakpoint768) {
        font-size: 36px;
        line-height: 40px;
    }

    @media (max-width: $breakpoint480) {
        font-size: 28px;
        line-height: 30px;
    }
}

.section__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #FFFFFF;
}

.cursor {
    position: fixed;
    background: #1378ef;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    user-select: none;
    pointer-events: none;
    z-index: 999;
    transition: 0.3s transform;
    transform: scale(1);

    &.active {
        transform: scale(0);
    }
}

.follower {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 1px solid #1378ef;
    border-radius: 100%;
    pointer-events: none;
    user-select: none;
    z-index: 998;
    transition: 0.6s transform,
        0.2s background;
    transform: translate(2px, 2px);

    &.active {
        transform: scale(2);
        background: #1378ef;
        z-index: 0;
    }
}