.section {

    // .section__pluses
    &__pluses {
        padding-top: 65px;
        padding-bottom: 20px;
    }

}

.pluses {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    margin-top: 96px;
    @media (max-width: $breakpoint1400) {
        margin-top: 50px;
        gap: 30px;
    }
    @media (max-width: $breakpoint768) {
        gap: 20px;
    }
    @media (max-width: $breakpoint480) {
       flex: 1 1 100%
    }

    // .pluses__item
    &__item {
        padding: 40px;
        background: $whiteColor;
        box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
        border-radius: 8px;
        display: flex;
        flex: 1 0 345px;
        flex-direction: column;
        @media (max-width: $breakpoint1400) {
            padding: 30px;
        }
        @media (max-width: $breakpoint992) {
            padding: 20px;
        }
    }

    // .pluses__item-title

    &__item-title {
        font-size: 28px;
        line-height: 31px;
        display: flex;
        align-items: center;
        color: $darkColor;
        @media (max-width: $breakpoint992) {
            font-size: 24px;
        }
        .pluses__item-title-img{
            margin-right: 10px;
        }

    }

    // .pluses__item-text

    &__item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: $grayColor;
        margin-top: 32px;
        @media (max-width: $breakpoint992) {
            margin-top: 20px;
        }

    }
}