// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1108;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1400: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Colors
$blueColor: #1A2578;
$grayColor:#484C63;
$whiteColor:#ffffff;
$redColor:#BF0830;
$darkColor: #3A3A3C;

